body {
    font-family: Ubuntu;
    font-style: normal;
    background: url(../img/background-image-site.jpg) no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

/* HEADER START */

.site-header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.container {
    max-width: 1208px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-row {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 18px 0px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px
}

.logo:hover {
    color: #01813F;
    transition: ease-in-out 0.2s;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon-calendar::before {
    content: url();
    background-image: url(../img/calendar-alt-regular.svg);
    display: block;
    width: 21px;
    height: 24px;
}

.icon-envelope::before {
    content: url();
    background-image: url(../img/envelope-open-regular.svg);
    display: block;
    width: 23px;
    height: 23px;
}

.icon-compass::before {
    content: url();
    background-image: url(../img/compass-regular.svg);
    display: block;
    width: 23px;
    height: 24px;
}

.menu ul::after {
    content: '';
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    display: block;
    margin: 0 auto;
}

.log-in {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 20px;

    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
} 

.log-hover {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.sign-hover {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.log-hover:hover {
    color: #01813F;
    transition: ease-in-out 0.2s;
}

.sign-hover:hover {
    color: #01813F;
    transition: ease-in-out 0.2s;
}

/* HEADER END */

/* FORM START */

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 54px auto 74px auto;
    width: 444px;
    height: 584px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: relative;
}

.form-title {
    display: flex;
    align-items: center;
    gap: 216px;
    margin-top: 25px;
    margin-bottom: 13px;
}

.title-sign {
    color: #434343;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.title-log-in {
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.title-log-in:hover {
    color: #01813F;
    transition: ease-in-out 0.2s;
    text-decoration: underline;
}

.btn-social {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 4px;
}

.btn-social-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background-color: #305DB8;
    border: 1px solid #305DB8;
    border-radius: 4px;
    position: relative;
}

.btn-social-f img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 12px auto 12px 11px;
}

.btn-social-f a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 17px 22px 17px 32px;
}

.btn-social-f a::before {
    content: "";
    width: 1px;
    height: 28px;
    flex-shrink: 0;

    opacity: 0.1;
    background: #2B0D09;
    display: block;
    position: absolute;
    top: 10px;
    right: 111px;
    bottom: 10px;
    left: 48px;
}

.btn-social-f:hover {
    background-color: #022263;
    transition: ease-in-out 0.2s;
}

.btn-social-g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border: 1px solid #DF4A32;
    border-radius: 4px;
    position: relative;
}

.btn-social-g img {
    width: 30px;
    height: 19px;
    flex-shrink: 0;
    margin: 12px auto 12px 11px;
}

.btn-social-g a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 17px 27px 17px 38px;
}

.btn-social-g a::before {
    content: "";
    width: 1px;
    height: 28px;
    flex-shrink: 0;

    opacity: 0.1;
    background: #2B0D09;
    display: block;
    position: absolute;
    top: 10px;
    right: 111px;
    bottom: 10px;
    left: 48px;
}

.btn-social-g:hover {
    background-color: #AB1F09;
    transition: ease-in-out 0.2s;
}

.or {
    display: flex;
    width: 15px;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 12px;

    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.line-left {
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    border: none;
    position: absolute;
    top: 131px;
    right: 234px;
    left: 58px;
    bottom: 436px;
    
}

.line-right {
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    border: none;
    position: absolute;
    top: 131px;
    right: 60px;
    left: 232px;
    bottom: 436px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    width: 300px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 13px;
}

.last {
    margin-bottom: 8px;
}

.form-item::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form-item:hover {
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    transition: ease-in-out 0.2s;
}

.form-item-1 {
    width: 300px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 13px;

    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form-item-1::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form-item-1:hover {
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    transition: ease-in-out 0.2s;
}

.form input[type=text] {
    padding-left: 20px;
}

.form input[type=password] {
    padding-left: 20px;
}

.form label {
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form a {
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.agree {
    display: flex;
    align-items: center;
    width: 324px;
    margin-bottom: 13px;
}

.checkbox {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);

    stroke-width: 2px;
    stroke: #3CB878;
}

.agree label {
    margin-left: 8px;
}

.agree label a:hover {
    color: #01813F;
    transition: ease-in-out 0.2s;
    text-decoration: underline;
}

.btn-create {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 324px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: 1px solid #3CB878CC;

    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.btn-create:hover {
    background-color: #01813F;
    transition: ease-in-out 0.2s;
}

.shape {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 26px;
    right: 426px;
    bottom: 537px;
    background: #3CB878;
}

/* FORM END */